workflows/ai-conversation-core.step3-draft.json
{
  "name": "ai-conversation-core (Step 3 draft)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-conversation-step3-draft",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "75f05eab-7b9f-4396-b953-b856ddbf20a5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "ai-conversation-core-step3-draft"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "tenant_slug",
              "value": "={{ $json.body.tenant_slug }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "contact_id",
              "value": "={{ $json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "channel_ghl",
              "value": "={{ $json.body.channel }}",
              "type": "string"
            },
            {
              "id": "a3b",
              "name": "channel",
              "value": "={{ ({SMS:'sms', Email:'email', WhatsApp:'whatsapp', Live_Chat:'web', FB:'whatsapp', IG:'whatsapp'}[$json.body.channel] || 'web') }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f21db2e7-fdcb-467c-a1ed-4fdcbae37524",
      "name": "Extract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/tenants",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "slug",
              "value": "=eq.{{ $json.tenant_slug }}"
            },
            {
              "name": "select",
              "value": "id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.pgrst.object+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "36de8b40-4b52-467a-a1a0-ef9e29f2bdea",
      "name": "Get Tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/prompts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "=eq.{{ $json.id }}"
            },
            {
              "name": "name",
              "value": "=in.(10-behavioural-training-sale,15-conversational-data-capture-sale,20-domain-knowledge-wine,30-profile-account,40-playbook-account)"
            },
            {
              "name": "select",
              "value": "name,content"
            },
            {
              "name": "order",
              "value": "name.asc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08f03bb9-5f93-4812-8e6d-77b005313db0",
      "name": "Get Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tenant_id",
              "value": "=eq.{{ $('Get Tenant').first().json.id }}"
            },
            {
              "name": "contact_id",
              "value": "=eq.{{ $('Extract').first().json.contact_id }}"
            },
            {
              "name": "role",
              "value": "=in.(user,assistant)"
            },
            {
              "name": "select",
              "value": "role,content"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2409661-348d-4356-b3cb-9a28f6564d1e",
      "name": "Get History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        0
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.voyageai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.VOYAGE_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"voyage-4-lite\",\n  \"input\": [{{ JSON.stringify($('Extract').first().json.message) }}],\n  \"input_type\": \"query\",\n  \"output_dimension\": 512\n}",
        "options": {}
      },
      "id": "deb7fe4b-89c9-40f3-a664-d3bf9599cfa4",
      "name": "Voyage Embed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/rpc/search_wines",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tenant_id\": {{ JSON.stringify($('Get Tenant').first().json.id) }},\n  \"p_query_embedding\": {{ JSON.stringify($json.data[0].embedding) }},\n  \"p_match_count\": 3\n}",
        "options": {}
      },
      "id": "35f22c15-0fa5-4cb9-a3e8-aa9069d6c775",
      "name": "Search Wines",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        0
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Helper: collect a node's items as an array of rows.\nfunction rows(nodeName) {\n  return $(nodeName).all().map(i => i.json).filter(o => o && Object.keys(o).length > 0);\n}\n\nconst promptRows = rows('Get Prompt');\nconst byName = Object.fromEntries(promptRows.map(p => [p.name, p.content]));\nconst promptOrder = [\n  '10-behavioural-training-sale',\n  '15-conversational-data-capture-sale',\n  '20-domain-knowledge-wine',\n  '30-profile-account',\n  '40-playbook-account'\n];\nconst stablePrompt = promptOrder.map(n => byName[n]).filter(Boolean).join('\\n\\n---\\n\\n');\n\n// Contact context from Get Contact (silent — never call attention to having it).\n// IMPORTANT: replace the field IDs below with the actual GHL custom-field IDs\n// from Settings → Custom Fields after the fields are created.\nconst FIELD_ID = {\n  whatsapp_preferred: '<PASTE_FIELD_ID>',\n  return_channels_captured_at: '<PASTE_FIELD_ID>',\n  last_wines_discussed: '<PASTE_FIELD_ID>',\n  team_notes: '<PASTE_FIELD_ID>',\n};\nconst contactItems = $('Get Contact').all().map(i => i.json).filter(Boolean);\nconst contact = contactItems[0]?.contact || {};\nconst customFields = contact.customFields || [];\nconst getField = (id) => (customFields.find(f => f.id === id) || {}).value;\n\nconst contactCtx = [];\nif (contact.firstName) contactCtx.push(`Customer first name: ${contact.firstName}`);\nif (contact.email) contactCtx.push(`Email on record: ${contact.email}`);\nif (contact.phone) contactCtx.push(`Phone on record: ${contact.phone}`);\nif (getField(FIELD_ID.whatsapp_preferred) === 'Yes') contactCtx.push('Customer prefers WhatsApp.');\nif (getField(FIELD_ID.last_wines_discussed)) contactCtx.push(`Previously discussed: ${getField(FIELD_ID.last_wines_discussed)}`);\nconst teamNotesRaw = getField(FIELD_ID.team_notes);\nif (teamNotesRaw) {\n  try {\n    const notes = JSON.parse(teamNotesRaw);\n    if (Array.isArray(notes) && notes.length) {\n      contactCtx.push(`Team notes received during this conversation that you should fold into your response:\\n${notes.map(n => `- ${n}`).join('\\n')}`);\n    }\n  } catch (_e) { /* not JSON yet */ }\n}\nconst contactBlock = contactCtx.length ? `\\n\\n## Contact context\\n${contactCtx.join('\\n')}` : '';\n\nconst wines = rows('Search Wines');\nconst history = rows('Get History').slice().reverse().map(r => ({ role: r.role, content: r.content }));\nconst extract = $('Extract').first().json;\n\nconst wineBlock = wines.length\n  ? '## Available wines for this conversation\\n' + wines.map((w, i) => {\n      const head = `${i + 1}. **${w.title}** — ${[w.varietal, w.vintage].filter(Boolean).join(' ')}` + (w.price ? `, R${w.price}` : '');\n      const body = w.description ? `\\n   ${w.description}` : '';\n      const pair = w.pairings ? `\\n   Pairings: ${w.pairings}.` : '';\n      const award = w.awards ? ` Awards: ${w.awards}.` : '';\n      return head + body + pair + award;\n    }).join('\\n')\n  : '';\n\n// Cache the stable layered prompt + contact context (changes rarely per\n// conversation). Wine block lives in an uncached trailing block.\nconst systemBlocks = [\n  { type: 'text', text: stablePrompt + contactBlock, cache_control: { type: 'ephemeral' } }\n];\nif (wineBlock) {\n  systemBlocks.push({ type: 'text', text: wineBlock });\n}\n\nconst userMsg = { role: 'user', content: `[channel: ${extract.channel}]\\n${extract.message}` };\nconst messages = [...history, userMsg];\n\nreturn [{ json: {\n  systemBlocks,\n  messages,\n  tenant_id: $('Get Tenant').first().json.id,\n  contact_id: extract.contact_id,\n  channel: extract.channel,\n  channel_ghl: extract.channel_ghl,\n  message: extract.message,\n  retrieved_wine_ids: wines.map(w => w.id)\n} }];"
      },
      "id": "7543c80b-d530-40cc-94aa-f61b303fd3eb",
      "name": "Build Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": {{ JSON.stringify($json.tenant_id) }},\n  \"contact_id\": {{ JSON.stringify($json.contact_id) }},\n  \"channel\": {{ JSON.stringify($json.channel) }},\n  \"role\": \"user\",\n  \"content\": {{ JSON.stringify($json.message) }},\n  \"metadata\": { \"retrieved_wine_ids\": {{ JSON.stringify($json.retrieved_wine_ids) }} }\n}",
        "options": {}
      },
      "id": "0bc5c777-e3f9-44f4-9b3c-e7cf19723c4f",
      "name": "Log User Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": {{ JSON.stringify($('Build Messages').first().json.systemBlocks) }},\n  \"messages\": {{ JSON.stringify($('Build Messages').first().json.messages) }},\n  \"tools\": [\n    {\n      \"name\": \"capture_return_channels\",\n      \"description\": \"Acknowledge contact info the customer just shared. The always-on extraction pipeline captures volunteered info silently — call this tool only when your reply itself refers to the capture (e.g. 'Got it, Joe — I'll let you know when the next vintage drops'). Per the 15-conversational-data-capture-sale prompt, you may proactively offer to follow up via WhatsApp/email when there's a clear reason; this tool is the way to confirm what they shared in response.\",\n      \"input_schema\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"first_name\": {\"type\": \"string\"},\n          \"last_name\": {\"type\": \"string\"},\n          \"phone\": {\"type\": \"string\", \"description\": \"E.164 format if possible (e.g. +27821234567)\"},\n          \"whatsapp\": {\"type\": \"string\", \"description\": \"WhatsApp number if different from primary phone\"},\n          \"email\": {\"type\": \"string\"}\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "c5a55f0a-e11a-402b-8c9b-6e62a957770e",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1984,
        0
      ],
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": {{ JSON.stringify($('Build Messages').first().json.tenant_id) }},\n  \"contact_id\": {{ JSON.stringify($('Build Messages').first().json.contact_id) }},\n  \"channel\": {{ JSON.stringify($('Build Messages').first().json.channel) }},\n  \"role\": \"assistant\",\n  \"content\": {{ JSON.stringify($json.content[0].text) }},\n  \"metadata\": {\n    \"model\": {{ JSON.stringify($json.model) }},\n    \"input_tokens\": {{ $json.usage.input_tokens }},\n    \"output_tokens\": {{ $json.usage.output_tokens }},\n    \"stop_reason\": {{ JSON.stringify($json.stop_reason) }}\n  }\n}",
        "options": {}
      },
      "id": "8bcd3002-c394-4127-92fd-130ceb091d99",
      "name": "Log Assistant Turn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        0
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.stringify($('Call Claude').first().json.content[0].text) }},\n  \"metadata\": {\n    \"model\": {{ JSON.stringify($('Call Claude').first().json.model) }},\n    \"retrieved_wine_ids\": {{ JSON.stringify($('Build Messages').first().json.retrieved_wine_ids) }}\n  }\n}",
        "options": {}
      },
      "id": "35367c4f-e930-4792-83f3-aacc9d656ac8",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2432,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Bearer",
              "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": {{ JSON.stringify($('Build Messages').first().json.tenant_id) }},\n  \"contact_id\": {{ JSON.stringify($('Build Messages').first().json.contact_id) }},\n  \"channel\": {{ JSON.stringify($('Build Messages').first().json.channel) }},\n  \"role\": \"system\",\n  \"content\": \"Claude call failed\",\n  \"metadata\": { \"error\": {{ JSON.stringify((($json.error && $json.error.message) || $json.message || JSON.stringify($json)).slice(0, 500)) }} }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2208,
        192
      ],
      "id": "0c99b451-3813-4497-98c0-7f3154bd3f21",
      "name": "Log Error",
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"reply\":\"Sorry — I'm having a moment. A human will be with you shortly.\"}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2432,
        192
      ],
      "id": "20033d14-be8f-4c2d-9f2b-5cd7845deb98",
      "name": "Respond Fallback"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Extract').first().json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.GHL_API_TOKEN }}" },
            { "name": "Version", "value": "2021-07-28" }
          ]
        },
        "options": {}
      },
      "id": "01010101-0001-0001-0001-000000000001",
      "name": "Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [448, -200],
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/conversations/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.GHL_API_TOKEN }}" },
            { "name": "Version", "value": "2021-07-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": {{ JSON.stringify($('Build Messages').first().json.channel_ghl) }},\n  \"contactId\": {{ JSON.stringify($('Build Messages').first().json.contact_id) }},\n  \"message\": {{ JSON.stringify($('Call Claude').first().json.content[0].text) }}\n}",
        "options": {}
      },
      "id": "01010101-0001-0001-0001-000000000002",
      "name": "Send via GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2320, 0],
      "executeOnce": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Get Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tenant": {
      "main": [
        [
          { "node": "Get Prompt", "type": "main", "index": 0 },
          { "node": "Get Contact", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Prompt": {
      "main": [
        [
          {
            "node": "Get History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History": {
      "main": [
        [
          {
            "node": "Voyage Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voyage Embed": {
      "main": [
        [
          {
            "node": "Search Wines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Wines": {
      "main": [
        [
          {
            "node": "Build Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Messages": {
      "main": [
        [
          {
            "node": "Log User Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log User Turn": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Log Assistant Turn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Assistant Turn": {
      "main": [
        [
          {
            "node": "Send via GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via GHL": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Respond Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "10dc96a9-016e-494d-b06b-e566ab2549cd",
  "meta": {
    "instanceId": "f8c3164f3a6b8410cf5398b759de648dc6162e70cdcc88086fee208dbf4b70b9"
  },
  "id": "Q7JwqqUv5HBA1bYE",
  "tags": []
}